@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Map Component Styles */
.map-container {
  width: 100%;
  height: 500px;
  /* Default height */
}

/* Example Media Queries - Adjust breakpoints and heights as needed */
@media (max-width: 640px) {

  /* Small screens (phones) */
  .map-container {
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

  /* Medium screens (tablets) */
  .map-container {
    height: 80vh;
    width: 48vw;
  }
}

@media (min-width: 1024px) and (max-width: 2026px) {

  /* Large screens (desktops) */
  .map-container {
    height: 80vh;
    width: 55vw;
  }
}

@media (min-width: 2027px) {

  /* Large screens (desktops) */
  .map-container {
    height: 80vh;
    width: 60vw;
  }
}

.leaflet-control-attribution.leaflet-control {
  display: none;
}